# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist
content

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea
.eslintcache
repomix-output.*
repomix-changed.*
**/repomix-output.*

# Local env files
.env
.env.*
!.env.example

# Misc
strategy
ideas
backups
trash